.legend_text, .legend_text{
    fill: var(--text-primary);
    font-family: var(--font-primary);
}

.buttonBox{
    fill: none; /* Keep inside transparent */
    stroke: var(--accent-green-bright); /* Neon outline */
    stroke-width: 1px;
    filter: drop-shadow(0 0 2px var(--accent-green))
            drop-shadow(0 0 2px var(--accent-green))
            drop-shadow(0 0 2px var(--glow-green));
}

.buttonText{
    font-family: var(--font-primary);
    fill: white;
}

.label_box{
    rx: 10;
    ry: 10;

    fill: #1c2530; /* Keep inside transparent */
    
}

.tooltip {
    position: absolute;
    pointer-events: none;
    opacity: 0;
    background: rgba(255, 255, 255, 0.95);
    border: 1px solid #aaa;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 1000;
    font-size: 13px;
    background: rgba(0,0,0,0.8);
    color: #fff;
}