.legend_text, .legend_text{
    fill: #e0e1dd;
    font-family: "Segoe UI", Arial, sans-serif;
}

.buttonBox{
    fill: none; /* Keep inside transparent */
    stroke: #5fa8d3; /* Neon outline */
    stroke-width: 1px;
    filter: drop-shadow(0 0 2px #5fa8d3)
            drop-shadow(0 0 2px #5fa8d3)
            drop-shadow(0 0 2px rgba(95, 168, 211, 0.5));
}

.buttonText{
    font-family: "Segoe UI", Arial, sans-serif;
    fill: white;
}

.label_box{
    rx: 10;
    ry: 10;

    fill: #1c2530; /* Keep inside transparent */
    
}

.tooltip {
    position: absolute;
    pointer-events: none;
    opacity: 0;
    background: rgba(255, 255, 255, 0.95);
    border: 1px solid #aaa;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 1000;
    font-size: 13px;
    background: rgba(0,0,0,0.8);
    color: #fff;
}

.satellite {
    cursor: pointer;
    transition: all 0.2s;
    filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.8));
}

.satellite:hover {
    filter: drop-shadow(0 0 6px rgba(255, 255, 255, 1)) 
            drop-shadow(0 0 10px rgba(0, 255, 136, 0.6));
    opacity: 1 !important;
}